body {
    background-image: url(https://th.bing.com/th/id/R.62918863a5fcf45d28d8982765114ed5?rik=Nfgz1t28JOc%2b2A&riu=http%3a%2f%2fanimals.sandiegozoo.org%2fsites%2fdefault%2ffiles%2f2017-07%2fanimals-flamingo-feeding.jpg&ehk=Xt4Dj5iB53OrRnS4Y55te211D4eSi6%2fHi1j%2fIoxj0Io%3d&risl=&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine;
    font-size: 60px;
    margin: 110px;
    border: 3px solid pink;
     
}

.div-img {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img {
    width: 720px;
    border-radius: 10px 10px;
    border: 3px solid pink;
}

img:hover {
    width: 900px;
}

p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:aquamarine;
    font-size: 20px;
    text-align: justify;
    padding: 50px;
    border: 3px solid pink;
}
